*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -20;
    background: black;
}

.decoration{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: pulse;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.decoration1{
    background: linear-gradient(orange, red);
    position: fixed;
    margin-left: 1500px;
    margin-top: 600px;
}

.decoration2{
    background: linear-gradient(purple, blue);
    position: fixed;
}

.decoration3{
    background: linear-gradient(green, lightgreen);
    position: fixed;
    margin-left: -1500px;
    margin-top: -600px;
}

.pages{
    z-index: 10;
}

.container{
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    height: 90vh;
    width: 90vw;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 10px gray;
}

.pages{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93%;
    color: white;
}