*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -20;
    background: black;
}

.decoration{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: pulse;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.decoration1{
    background: radial-gradient(circle at -5% 15%,orange, red);
    position: fixed;
    margin-left: 1500px;
    margin-top: 600px;
}

.decoration2{
    background: linear-gradient(purple, blue);
    position: fixed;
}

.decoration3{
    background: radial-gradient(circle at -5% 15%,rgb(170, 101, 170), purple 40%);
    position: fixed;
    margin-left: -1500px;
    margin-top: -600px;
}

.container{
    z-index: 10;
    border-radius: 10px;
    height: 90vh;
    width: 90vw;
}

.pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93%;
    color: white;
    z-index: 10;
    animation: fadeIn;
    animation-duration: .3s;
}